h3 {
  color: #1aa1dc;
  font-size: 14px;
}

.product {
  width: 233px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #fff;
}

.content {
  padding: 10px;
}

button {
  color: #fff;
}

app-product-price {
  float: right;
  line-height: 38px;
  font-size: 22px;
  color: #ff9207
}



.cart {
  position: absolute;
  top: 0;
  right: 0;
}
